<ul class="navbar-nav">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-item nav-{{slug}}{{#if current}} active{{/if}}"><a class="nav-link" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
</ul>