{{#get "posts" filter="tag:nerdnest"}}
 <div class="container-fluid bg-black text-light py-5">
     <div class="row">
        {{#foreach posts}}
        <div class="col-3"></div>
            <div class="col-6 text-center" data-aos="fade-left" >
                <h1 class="mb-5" data-aos="fade-left">{{title}}</h1>
            {{content}}</div>
        {{/foreach}}
        </div>
</div>
{{else}}
{{/get}}
