{{#get "posts" filter="tag:partner" as |partners|}}
<div class="container py-5">
        <h1 class="text-center">Amazing Partners & Sponsorer</h1>
            <div class="row">
        {{#foreach partners}}
        <div class="col-2">
            <img src="{{img_url feature_image}}" alt="{{title}}" class="img-fluid" />
        </div>
        {{/foreach}}
    </div>
</div>
{{else}}
{{/get}}

