{{#get "posts" include="tags" filter="tag:partner" as |partners|}}
<div class="container py-5">
        <h1 class="text-center mb-5">Amazing Partners & Sponsorer</h1>
            <ul class="nav  justify-content-center">
        {{#foreach partners}}
        <li class="nav-item d-flex align-items-center {{primary_tag.name}}" style="max-width: 192px;">
            <img src="{{img_url feature_image}}" alt="{{title}}" class="img-fluid nav-link" style="max-height: 96px;" />
        </li>
        {{/foreach}}
    </ul>
</div>
{{else}}
{{/get}}

