
{{#get "posts" include="tags" filter="tag:slot" order="published_at asc" as |slots|}}
<table class="program">
    <tr><th colspan="2" class="program-header">PROGRAM</th></tr>
    {{#foreach slots}}
        <tr><td class="program-time" data-aos="fade-left"><h4>{{excerpt}}</h4></td><td data-aos="fade-left"><h4>{{title}}</h4>{{content}}</td></tr>
    {{/foreach}}
</table>
{{else}}
{{/get}}