
{{#get "posts" include="tags" filter="tag:slot" order="published_at asc" as |slots|}}
<table class="program"  data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
    <tr><th colspan="2" class="program-header">PROGRAM</th></tr>
    {{#foreach slots}}
        <tr><td class="program-time"><h4 data-aos="fade-left">{{excerpt}}</h4></td><td><h4 data-aos="fade-left">{{title}}</h4>{{content}}</td></tr>
    {{/foreach}}
</table>
{{else}}
{{/get}}