 <div class="timeline-event timeline-event-right" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <div class="arrow"></div>
        <div class="timeline-event-content">
            <h3>{{excerpt}} | {{title}}</h3>
            {{content}}
        </div>
    </div>
    