<div class="container" data-aos="fade-up" data-aos-anchor-placement="top-center">
    <div class="row mt-4" id="tickets">
        <h2>Biljetter</h2>
        <a href="#" class="btn btn-outline-primary">Köp din biljett</a>
    </div>
</div>

<div class="buy-now-area"><a href="#" class="btn btn-primary">Köp din biljett</a></div>