<div class="timeline">
    <div class="timeline-header">
        <div class="timeline-header-content">Lorem</div>
    </div>
    <div class="timeline-event timeline-event-right" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
        <div class="arrow"></div>
        <div class="timeline-event-content">
            <h3>Popover title</h3>
            And here's some amazing content. It's very engaging. Right?
        </div>
    </div>
    <div class="timeline-event">
        <div class="arrow"></div>
        <div class="timeline-event-content" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
            
            <h3>Popover title</h3>
            And here's some amazing content. It's very engaging. Right?
        </div>
    </div>
</div>