{{#get "posts" include="tags" filter="tag:slot" order="published_at asc" as |slots|}}
<div class="timeline-header">
        <div class="timeline-header-content">Program</div>
    </div>
    <div class="timeline">
    {{#foreach slots}}
    {{#has tag="right"}}
    {{> slotright}}
    {{else}}
    {{> slot}}
    {{/has}}
    {{/foreach}}
</div>
{{else}}
{{/get}}