{{!< default}}
<section>
<a class="anchor" id="maininfo"></a>
{{> "maininfo"}}
</section>
<section>
{{> "nerd"}}
</section>
<section class="mb-5">
<a class="anchor" id="intro"></a>
{{> "intro"}}
</section>
<section class="mb-5" data-aos="fade-up" data-aos-anchor-placement="top-center">
<a class="anchor" id="speakers" ></a>
{{> "speakers"}}
</section>
<section class="bg-light">
<a class="anchor" id="tickets"></a>
{{> "tickets"}}
</section>
<section>
<a class="anchor" id="timeline"></a>
{{> "timeline"}}
</section>
<section data-aos="fade-up">
    <a class="anchor" id="nerdnest"></a>
    {{> "nerdnest"}}
</section>
<section data-aos="fade-up">
<a class="anchor" id="partners"></a>
{{> "partners"}}
</section>