@import "modules/vars";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/aos/src/sass/aos";

@import "modules/typography";
@import "components/custom";
@import "components/navbar";
@import "layouts/default";
@import "components/cards";


/* Main - Theme styles
/* ---------------------------------------------------------- */


/* Your styles here */

.btn {
    text-decoration: none;
}

.large-underline {
    transition: background-size .6s ease-out;
    background: linear-gradient($gray-500,$gray-500) no-repeat left 87%/0 30%;
    text-decoration: none!important;
    &:hover {
        background-size: 97% 30%;
    }
}

.min-h-m {
    @include media-breakpoint-up(sm) {
        min-height: 520px;
    }
}
.min-h-l {
    @include media-breakpoint-up(sm) {
        min-height: 720px;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}