.site-wrapper {
    padding-top: $navbar-height;
    overflow-x: hidden;
}
.site-main {
    overflow: hidden;
}
footer {
    p {
        margin-bottom: 0;
    }
    a {
        text-decoration: none!important;
    }
    .social-links {
        padding-left: 0;
        margin-bottom: 1rem;
        a {
            display: inline-block;
            &+a {
                margin-left: 1rem;
            }
        }
    }
}